.t0-color, .t1-color, .t2-color, .t3-color{
    width:10px;
    height:10px;
    border-radius:99em;
}
.t0-color{
    background-color:black;
}
.t1-color{
    background-color:red;
}
.t2-color{
    background-color:green;
}
.t3-color{
    background-color:purple;
}

.team-data{
    border-style: solid;
}
.contingencyTable td{
    padding: 10px;
}